- if(messages.info)
  .alert.alert-info(role='alert')= messages.info

- if(messages.success)
  .alert.alert-success(role='alert')= messages.success

- if(messages.warning)
  .alert.alert-warning(role='alert')= messages.warning

- if(messages.danger)
  .alert.alert-danger(role='alert')= messages.danger
